@media (max-width: 1400px) {
	#seventeen {
		margin-left: 20px;
	}
	#seventeen > a {
		padding-right: 15px;
	}
}
@media (max-width: 1300px) {
	#seventeen > a {
		padding-right: 11px;
	}
}
@media (max-width: 1211px) {
	#seventeen > a {
		padding-right: 7px;
	}
}

@media (max-width: 1120px) {
	#seventeen > a {
		padding-right: 3px;
		transform: scale(0.9);
	}
}

@media (max-width: 1075px) {
	#seventeen > a {
	    margin-right: -5px;
		transform: scale(0.85);
	}
}

@media (max-width: 991px) {
	#seventeen > a {
	    margin-right: -8px;
		transform: scale(0.8);
	}
}

@media (max-width: 940px) {
	#seventeen > a {
	    margin-right: -15px;
		transform: scale(0.7);
	}
}

@media (max-width: 821px) {
	#seventeen > a {
	    margin-right: -20px;
		transform: scale(0.65);
	}
}


