body {
	padding-bottom: 110px;
}

#ahb {
	margin-left: 7px;
}

ul {
	margin-left: 7px;
}


li:nth-child(3) {
	list-style-type: square;
}

.roob img {
	width: 100%;
	position: relative;
}

div > img{
	width: 50%;
	display: block;
}

#walkingapp {
	width: 100%;
	height: 550px;
}

#drawing {
    margin-top: 105px;
    padding-bottom: 80px;
    position: absolute;
	
}

.video-container {
	position: relative;
    padding-bottom: 75.2%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	height:100%;
}

/*
#grey {
	width: 100%;
	margin-bottom: 80px;
	position: absolute; 
}
*/

video {
	width: 100%;
	position: absolute;
}


.tritags1 {
	right: 0px;
	position: absolute;
	margin-top: -55px;
	transition-duration: 0.2s;	

}

.tritags2 {
	right: 340px;
    position: absolute;
    margin-top: -141px;
	transition-duration: 0.2s;	

}

.tritags3 {
	right: 0px;
	position: absolute;
	margin-top: -25px;
	transition-duration: 0.2s;	
	
}

a:hover {
	opacity: 0.4;
	transition-duration: 0.2s;	
}

p {padding-bottom: 50px;
	padding-top: 15px;}

#walking a {
	text-decoration: underline;
}


img.page-image{
	width: 100%;
	margin: 0;
}

p.content-link{
	text-decoration: underline;
}


