#seventeen {
    width: 100%;
	height: 170px;
	background-color: white;
    position: fixed;
	padding-top: 60px;
    margin-top: -9px;
	transform: scale(0.9);
	z-index: 200;
	margin-left: 16px;

}

#seventeen > a {
	padding-right: 23px;
	display: inline-block;
}

#seventeen > a:hover {
	opacity: 0.4;
}

.v {
	position : relative;
	display : inline-block;
    top      : 3px;
    left     : 0.1em;
    width    : 0;
    height   : 0;
    z-index  : 100;
}

/* */

#v6 .rb {
    border-right  : 35px solid transparent;
    border-bottom : 20px solid rgb(0, 255, 255);
}

#v6 .lb { 
    border-left  : 35px solid transparent;
    border-bottom : 20px solid rgb(0, 255, 255);
}

#v6 .lt {
    border-left  : 35px solid transparent;
    border-top : 20px solid rgb(0, 255, 255);
}

#v6 .rt {
    border-right  : 35px solid transparent;
    border-top : 20px solid rgb(0, 255, 255);
}

#v9 .rb {
    border-right  : 35px solid transparent;
    border-bottom : 20px solid rgb(0, 255, 255);
}

#v9 .lb { 
    border-left  : 35px solid transparent;
    border-bottom : 20px solid rgb(0, 255, 255);
}

#v9 .lt {
    border-left  : 35px solid transparent;
    border-top : 20px solid rgb(0, 255, 255);
}

#v9 .rt {
    border-right  : 35px solid transparent;
    border-top : 20px solid rgb(0, 255, 255);
}

/* */

.rb {
    border-right  : 35px solid transparent;
    border-bottom : 20px solid black;
}


.lb { 
    border-left  : 35px solid transparent;
    border-bottom : 20px solid black;
}

.lt {
    border-left  : 35px solid transparent;
    border-top : 20px solid black;
}

.rt {
    border-right  : 35px solid transparent;
    border-top : 20px solid black;
}

#v5 {
	margin-top: -15px;
}

#v5 div:nth-child(1) {
	display: table;
	top: 9px;
}

#v5 div:nth-child(2) {
	display: table;
	top: 14px;
}


#v6 div:nth-child(1) {
	margin-left: 10px;
    margin-top: 2px;
}

#v6 div:nth-child(2) {
	margin-left: -36px;
    top: -1px;
}

#v7 div:nth-child(1) {
	margin-left: 10px;
    margin-top: 4px;
}

#v7 div:nth-child(2) {
	margin-left: -42px;
    top: -4px;
}


#v8 div:nth-child(-n+2) {
	top: -10px;
}

#v8 div:nth-child(n+3) {
	top: 13px;
	left: -78px;
}

#v9 {
    margin-left: -70px;
}

#v9 div:nth-child(1) {
    display: table;
	top: 10px;
}

#v9 div:nth-child(2) {
    display: table;
	top: 13px;
}

#v10 {
	margin-top: -10px;
    margin-left: -35px;
}

#v10 div:nth-child(1){
	transform: rotate(-105deg);
}

#v10 div:nth-child(2){
	transform: rotate(15deg);
	left: -13px;
}

#v10 div:nth-child(3){
	transform: rotate(125deg);
	left: -65px;
	top: 25px;
}

#v11 {
    margin-left: -45px;
}
#v11 div:nth-child(1){
	transform: rotate(60deg);
}

#v11 div:nth-child(2){
	transform: rotate(-60deg);
	margin-left: -35px;
}

#v12 div:nth-child(1){
	transform: rotate(-90deg);
    top: -10px;
}

#v12 div:nth-child(2){
	transform: rotate(-90deg);
    top: 29px;
    left: -38px;
}

#v13 {
    margin-left: -35px;
}

#v13 div:nth-child(1){
    top: -3px;
}

#v13 div:nth-child(2){
	transform: rotate(-90deg);
    left: -6px;
}

#v14 {
	margin-top: 12px;
    margin-left: -10px;
}

#v14 div:nth-child(1){
	transform: rotate(-90deg);
}

#v14 div:nth-child(2){
	left: -15px;
	top: -15px;
}

#v15 {
    margin-top: 12px;
    margin-left: -20px;
}

#v15 div:nth-child(1){
	transform: rotate(90deg);
}

#v15 div:nth-child(2){
	left: -25px;
	top: 10px;
}


#v16 {
	margin-top: -5px;
	margin-left: -15px;
}

#v16 div:nth-child(1){
	transform: rotate(50deg);
}

#v16 div:nth-child(2){
	margin-left: -40px;
	top: 22px;
}

#v17 {	
	margin-left: -20px;
}

#v17 div:nth-child(1){
	transform: rotate(40deg);
    top: 9px;
}

#v17 div:nth-child(2){
    transform: rotate(38deg);
	top: -10px;
    left: -22px;
}


