#seventeen {
	background-color: transparent;
	position: fixed;
	z-index: 200;
}

#seventeen > a {
	padding-left: 5px;
	padding-right: 5px;
}

#seventeen > a:hover {
	opacity: 0.4;
}

.v {
	position : relative;
	display : inline-block;
    top      : 3px;
    left     : 0.1em;
    width    : 0;
    height   : 0;
    z-index  : 100;
}

.rb {
    border-right  : 35px solid transparent;
    border-bottom : 20px solid black;
}


.lb { 
    border-left  : 35px solid transparent;
    border-bottom : 20px solid black;
}

.lt {
    border-left  : 35px solid transparent;
    border-top : 20px solid black;
}

.rt {
    border-right  : 35px solid transparent;
    border-top : 20px solid black;
}


#v5 {
	margin-top: -20px;
}

#v5 div {
	display: table;
	margin-top: 5px;
}

#v6 div:nth-child(2) {
	margin-left: -30px;
}

#v7 {
	margin-top: -15px;
}

#v7 div {
	display: table;
	margin-bottom: 4px;
}


#v8 div:nth-child(1){
	transform: rotate(60deg);
}

#v8 div:nth-child(2){
	transform: rotate(-60deg);
	margin-left: -35px;
}

#v9 {
	margin-top: -5px;
	margin-left: 5px;
}

#v9 div:nth-child(1){
	transform: rotate(50deg);
}

#v9 div:nth-child(2){
	margin-left: -40px;
	top: 22px;
}

#v10 {
	margin-top: -10px;
}

#v10 div:nth-child(1){
	transform: rotate(-105deg);
}

#v10 div:nth-child(2){
	transform: rotate(15deg);
	left: -13px;
}

#v10 div:nth-child(3){
	transform: rotate(125deg);
	left: -65px;
	top: 25px;
}

#v11 {
	margin-top: 12px;
	margin-left: -50px;
}

#v11 div:nth-child(1){
	transform: rotate(-90deg);
}

#v11 div:nth-child(2){
	left: -20px;
	top: -20px;
}

#v12 {
	margin-left: -20px;
}

#v12 div:nth-child(-n+2) {
	top: -10px;
}

#v12 div:nth-child(n+3) {
	top: 13px;
	left: -78px;
}








.bottom {
    position : absolute;
    width    : 0;
    height   : 0;
    z-index  : 99;
    
    border-right  : 84px solid transparent;
    border-bottom : 50px solid black;
}

