/*style.css is a file for universal style*/

/*font declaration*/
html {
    height: 100%;
    min-height: 100%;
}
body {
	font-family: 'fivo';
    position: relative;
    min-height: 100%;
}
a{
    color: black;
}
.container-fluid{
    padding-bottom: 100px; 
}
@font-face {
    font-family: 'fivo';
    src: url('fivo_reg.ttf');
}

@font-face {
    font-family: 'fivo';
    src: url('fivo_bold.ttf');
	font-weight: bold;
}

@font-face {
    font-family: 'fivo';
    src: url('fivo_light.otf');
	font-weight: thin;
}

/* seventeen triangels */
.triangle-box{
    margin: 30px 10px 10px 20px;
    text-align: center; 
}

@media(min-width:576px){
    .triangle-box{
    margin: 0px 50px 70px 50px;
    text-align: center; 
}
} 

.triangle{
    margin: 0 0 20px 10px;
    display: inline-block;
}

@media(min-width:576px){
    .triangle{
    display: inline-block;
    }   
} 

.triangle-1{
    display: inline-block;
    position: relative;
    top: 20px;
}

.triangle-2{
    display: inline-block;
    position: relative;
    top: -10px;
}

svg{
    width: 40px;
    height: 40px;
}

svg.icon {
    width: 70px;
}

svg.icon2 {
    height: 50px;
    width: 50px;
}

svg.icon3 {
    height: 90px;
    width: 40px;
}

svg.icon4 {
    height: 50px;
    width: 60px;
}

svg.icon5 {
    height: 60px;
    width: 60px;
}

a svg:hover{
    fill: cyan;
}

/* Navbar for Mobile */
nav.navbar {
    flex-direction: row;
    align-items: center;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler-icon.open {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler-icon-triangle{
    background-image: url(../tris/pattern3.svg) !important;
}

button.navbar-toggler.navbar-toggler-right{
    border: 0;
    position: static;
}

button.navbar-toggler{
    border: 0;
}
@media(min-width: 576px){
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded{
        display: none;
    }
}

nav.navbar.navbar-toggleable-md.navbar-light.bg-faded{
    border-bottom: 2px solid black;
    background-color: #fff; 
}
.navbar-border{
    border-bottom: 2px solid black;
    margin: 0 -16px;
}

a.navbar-menu{
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;   
}


.navbar-menu-text{
    margin: 15px 0 10px 0;
}

.navbar-collapse{
    padding: 0 15px;
}

button.close-button{
    float: right;
    font-size: 20px;
    padding-right: 15px;
    background: none;
    border: none;
}

.alhambra{
    color: black;
    font-weight: 700;
    flex: 1 auto;
    text-align: center;
}
/* Navbar */
.alhambra-main{
    margin: 70px 0 40px 0;
}

@media(min-width:576px){
    .alhambra-main{
        margin: 0;
    }
}
a.alhambra-link {
    color:black;
    font-size: 60px;
    font-weight: 900;
}

@media(min-width:576px){
    a.alhambra-link{
        color: #000;
        font-size: 35px;
        font-weight: 900;
    }
}

a.alhambra-link:hover{
    color: #6F6F6F;
}

ul.navbar{
    list-style-type: none;
    padding: 0;
    font-size: 22px;
    font-weight: 700; 
    width: 120px;
}

@media(min-width:576px){
    ul.navbar{
        list-style-type: none;
        padding: 0;
        border-right: 2px solid #000;
        font-size: 13px;
        font-weight: 700; 
        width: 120px;
    }
}

li.navbar-menu{
    padding: 3px 0 3px 0; 
}

li.navbar-menu:hover{
    list-style-type: square;
    color: #6F6F6F;
}

li.navbar-menu a{
    color: #000;
    text-transform: uppercase;
}

li.navbar-menu a:hover{
    color: #6F6F6F;
    transition-duration: 0.2s;
    text-transform: uppercase;
}

/* content */
.content{
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;

}
p.content-paragraph{
    font-size: 16px;
    margin-left: 10px;
}

p.content-text{
 font-size: 26px;
 line-height: 50px;
 font-family: 'fivo';
 margin-left: 10px;
 }

@media (min-width: 576px) {
p.content-text{
 font-size: 70px;
 line-height: 90px;
 font-family: 'fivo';
 }
}

h3.content-title{
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 50px 10px 20px 10px;  
}

 .rotation{
    background-color: cyan;
    color: #000;
    font-family: 'fivo';
    transition-duration: 0.5s;	
 }

.rotation:hover{
    background-color: white;
    color: cyan;
}

a:hover{
    text-decoration: none;
    transition-duration: 0.2s;	
}

/*content page*/

.footer{
    text-align: center;
    color: #000; 
    position: absolute;
    width: 100%;
    bottom: 0;
}

/*hidden class*/
@media (max-width: 576px) {
    .hidden-xs{
        display: none;
    }
}

@media (max-width: 768px ){
    .hidden-sm{
        display: none;
    }
}


@media (max-width: 992px ){
    .hidden-md{
        display: none;
    }
}

@media (max-width: 1200px){
    .hidden-lg{
        display: none;
    }
}

@media (min-width: 1200px){
    .hidden-xl{
        display: none;
    }
}
/*show class */
@media (max-width:576px){
    .show-xs{
        display: block;
    }
}

/*triangle-pages*/
.triangle-content-title{
    font-size: 26px;
font-weight: 900;
}

@media(min-width: 576px){
    .triangle-content-title{
    font-size: 35px;
font-weight: 900;
margin-top: -10px; 
}
}

.page-image{
    width: 100%;
    display: block;
    margin: auto;

}

@media(min-width: 576px){
    .page-image{
    width: 130%;
    margin-left: -165px;
    margin-top: -50px;
}
}

p.triangle-content-paragraph{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 5px 20px 5px;
    font-size: 16px;
    text-align: justify;
    font-weight:100; 
}

@media(min-width:576px){
    p.triangle-content-paragraph{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 5px 20px 5px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.3px;
    text-align: justify;
    font-weight:100; 
}
}