body {
	padding-bottom: 110px;
}

#ahb {
	margin-left: 7px;
}

ul {
	margin-left: 7px;
}


li:nth-child(3) {
	list-style-type: square;
}

#roob {
	width: 100%;
	position: relative;
}

div > img{
	width: 100%;
	display: block;
}

#recording {
    margin-top: 105px;
    padding-bottom: 80px;
    position: absolute;
	
}

#grey {
	width: 200px;
	height: 145.562px;
	filter: grayscale(100%);
	margin-left: 210px;
	margin-bottom: 80px;
	display: inline-flex;

}

/*
.vimeoFrame {
	width:200px;
	height: 145.562px;
	filter: grayscale(100%);
	overflow:hidden; 
	margin-left: 180px;
    margin-bottom: 90px;
    margin-top: 1px;
} 

.vimeoFrame .vimeoXtra {
	margin-left: -50px;
}
*/


.tritags1 {
	right: -50px;
	position: absolute;
	margin-top: -55px;
	transition-duration: 0.2s;	

}

.tritags2 {
	right: 340px;
    position: absolute;
    margin-top: -141px;
	transition-duration: 0.2s;	

}

.tritags3 {
	right: -50px;
	position: absolute;
	margin-top: -25px;
	transition-duration: 0.2s;	
	
}

a:hover {
	opacity: 0.4;
	transition-duration: 0.2s;	
}









