body {
	padding-bottom: 110px;
}

img {
	width: 143%;
    margin-left: -24%;
    margin-top: -70px;
}

#v6 {
	opacity: 0.5;
}

p {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 20px 5px 20px 5px;	
}
