body {
	padding-bottom: 110px;
}

img {
	width: 120%;
	margin-left: -15%;
	margin-top: -50px;
}

#v9 {
	opacity: 0.5;
}

p {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 20px 5px 20px 5px;	
}
