body {
	padding-bottom: 110px;
}
#ahb {
	position: fixed;
	margin-left: 39px;
}

#tail {
	left: 450px;
	top: 220px;
}

img {
	width: 100%;
	display: block;
}

#recording {
    margin-top: 105px;
    padding-bottom: 80px;
    position: absolute;
}

/*
#grey {
	width: 200px; 
	height: 145.562px;
	filter: grayscale(100%);
	margin-left: 210px;
	margin-bottom: 80px;
}
*/

.vimeoFrame {
	width:200px;
	height: 145.562px;
	filter: grayscale(100%);
	overflow:hidden; 
	margin-left: 180px;
    margin-bottom: 90px;
    margin-top: 1px;
} 

.vimeoFrame .vimeoXtra {
	margin-left: -50px;
}


.tritags {
	display: inline;
	position: absolute;
}



